.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

bin/
obj/
TestResults/
.DS_Store


# Built Visual Studio Code Extensions
*.vsix

x.*
